<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.11.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <img src="/assets/apple-on-slack.png" width="50"/>
        </li>
        <li>
          <a href="/logout">logout</a>
        </li>
      </ul>
    </nav>

    <header>
      <h1>App Store Slackbot</h1>
      <img src="{{ .user.AvatarURL.String }}" />
      <p>hi, {{ .user.Name.String }}</p>
    </header>

    <main>
      <hr/>

      <article>
        {{ if .user.SlackAccessToken.Valid }}
        <p>✅ Slack is connected!</p>
        {{ else }}
        <a href="/auth/slack/start">
          <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcSet="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
        </a>
        {{ end }}
      </article>

      {{ if .user.SlackAccessToken.Valid }}
      {{ if .user.AppStoreConnected }}
      <p>✅ App Store is connected!</p>
      <article>
        <p>Start using ciderbot in your Slack now!</p>
        <p>Example usage: <code>/applelink info</code></p>
        <p>Run <code>/applelink help</code> to see more commands.</p>
      </article>
      {{ else }}
      <article>
        <h3>Add your ASC details</h3>
        <form action="/auth/apple" method="POST" enctype="multipart/form-data">
          <label for="bundle-id">
            Bundle ID
            <input type="text" name="bundle-id" id="bundle-id">
          </label>

          <label for="issuer-id">
            Issuer ID
            <input type="text" name="issuer-id" id="issuer-id">
          </label>

          <label for="key-id">
            Key ID
            <input type="text" name="key-id" id="key-id">
          </label>

          <label for="p8-file">
            P8 File
            <input type="file" name="p8-file" id="p8-file">
          </label>

          <footer>
            <button type="submit">Save</button>
          </footer>
        </form>
      </article>
      {{ end }}
      {{ end }}
    </main>
    <footer>
      <p>
        powered by <a href="https://www.tramline.app">Tramline</a>
        •
        <a href="https://github.com/tramlinehq/ciderbot">source</a>
      </p>
    </footer>
  </body>
</html>
